.App {
  text-align: center;
}

.top-bar {
  width: 100%;
  padding: 10px 0px;
  background-color: #333;
  text-align: left;
  font-size: large;
}

.top-bar a {
  text-decoration: none;
  color: #f2f2f2;
  padding: 14px 16px;
  margin-left: 10px;
}

.active {
  background-color: #04AA6D;
  color: white;
}

table {
  text-align: left;
  margin: 30px auto;
  display: inline-block;
}

th {
  text-align: center;
}

th, td {
  padding: 2px 20px;
}

button {
  margin: 10px;
  padding: 6px 10px;
  background-color: white;
  border: 1px solid rgb(229, 229, 255);
  outline: none;
  border-radius: 10px;
}

button:hover {
  border-color: rgb(212, 212, 255);
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.model-button {
  margin-top: 30px;
  font-size: large;
}

.model-button:hover {
  border-color: rgb(160, 160, 247);
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
